html,
   
   
body{
    height: 100%;
    background-image: url("1.png");
    background-repeat: no-repeat;
background-size: 100% 720px;

}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 160px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
	
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
    margin-top: 350px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;

}

.action-button
{
    position: relative;
    padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    margin-left: 450px;
    margin-top: 400px;  
}

.blue
{
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

.red
{
    background-color: #E74C3C;
    border-bottom: 5px solid #800000;
    text-shadow: 0px -2px #800000;
}

.green
{
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.yellow
{
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
    transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
.action-button:hover{
color: #FFF;
    text-decoration: none;
    background-color: #BD3E20;

}

.heading{
    font-size: 50px;
    font-style: bold;
    text-align: center;

}
.para{
    font-size: 45px;
    text-align: center;
    font-style: italic;
}
.heading1{
    font-size: 50px;
    font-style: bold;
    text-align: left;

}
.btnstart{
    padding: 10px 25px;
    color: #fff;
    border-radius: 4px;
    border: none;
    background-color: rgb(12,12,12);
    border-bottom: 4px solid rgb(0,0,0);
    display: inline-block;
    text-decoration: none;

}

.btnstart:hover  {
    background-color: rgb(35,35,35);
    
    color: #fff;
    text-decoration: none;
     transition-duration: 0.4s;
    cursor: pointer;
    

}

.btnstart:active {
  background-color: rgb(12,12,12);
  border-bottom: 4px solid  rgb(0,0,0);
  transform: translateY(4px);
}
.btnstartupdate{
    padding: 5px 10px;
    color: #fff;
    border-radius: 4px;
    border: none;
    background-color: rgb(12,12,12);
    border-bottom: 4px solid rgb(0,0,0);
    display: inline-block;
    text-decoration: none;

}

.btnstartupdate:hover  {
    background-color: rgb(35,35,35);
    
    color: #fff;
    text-decoration: none;
     transition-duration: 0.4s;
    cursor: pointer;
    

}

.btnstartupdate:active {
  background-color: rgb(12,12,12);
  border-bottom: 4px solid  rgb(0,0,0);
  transform: translateY(4px);
}
